---
import Card from "../UI/Card.astro";

const { id } = Astro.props;

const usps = [
  {
    title: "Only A* Tutors",
    summary: "We are a team of A* achievers, stemming from the most prestigious institutions across the UK such as LSE and Imperial College London.",
    image: "/uploads/sermons/astar-tutors.webp",
  },
  {
    title: "Free Mentoring",
    summary: "Every student is paired with a dedicated mentor at no extra cost. This may include guidance on subject choices, personal statements, university applications, and interview prep.",
    image: "/uploads/sermons/free-mentoring.webp",
  },
  {
    title: "Vetted Mentors",
    summary: "Every tutor at Ascensus Academy has been DBS checked and ID verified, so you can feel confident about who’s teaching your child.",
    image: "/uploads/sermons/vetted-mentors.webp",
  },
  {
    title: "Tailored 1-to-1 Lessons",
    summary: "Our 1-1 sessions are online and personalised, giving students focused support that adapts to their individual needs.",
    image: "/uploads/sermons/tailored-lessons.webp",
  },
];
---

<section id={id} class="py-16 bg-white">
  <div class="container">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-bold mb-4">What We Offer</h2>
      <p class="text-xl text-gray-600 max-w-3xl mx-auto">
        Add some subtitle here
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {usps.map((usp) => {
        return <Card
          className="shadow"
          title={usp.title}
          image={{
            src: usp.image || "/images/usp-placeholder.webp",
            alt: usp.title
          }}
        >
          <p class="text-gray-700 mb-4">{usp.summary}</p>
        </Card>
      })}
    </div>
  </div>
</section>
